* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  background-color: inherit;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  margin: 0;
  padding: 0;
  background-color: #F8F9FD;
  transition: background-color 0.3s ease, color 0.3s ease;
}

html[data-theme="dark"] body {
  background-color: #121212;
}

html[data-theme="light"] body {
  background-color: #F8F9FD;
}

a {
  color: inherit;
  text-decoration: none;
}

svg:focus {
    outline: none;
}
